<main>
  <h2>
    <%= @user.name%>
  </h2>

  <div class="container">
    <div>
      <h3>Events created by you</h3>
    </div>

    <div>
      <h3>Previously attended events by you</h3>
    </div>

    <div>
      <h3>Upcoming events for you</h3>
    </div>
  </div>
</main>


