<main><br />
  <div>
    <h3>Up coming Events</h3>

    <% @upcoming_events.each do |t| %>
      <%= t.details%><br /><br />
      <%= t.date %>
      <br />
    <% end %><br /><br />
  </div><br /><br /><hr />

  <div>
    <h3>Past events</h3>

    <% @past_events.each do |t| %>
      <%= t.details%><br /><br />
      <%= t.date %>
    <% end %><br /><br /> 
  </div>
</main>